<section class="quest-modal-wrapper notifier-wrapper">
  <div class="quest-modal-content notifier">
    <div class="panel panel-itwise">
      <div class="panel-heading panel-title notifier-title">알림</div>
      <div class="panel-body">
        <div class="notifier-text"></div>
      </div>
      <div class="panel-footer notifier-buttons">
        <div class="notifier-message-buttons">
          <button type="button" class="notifier-close-button btn btn-default">확인</button>
        </div>
        <div class="notifier-confirm-buttons">
          <button type="button" class="btn btn-info notifier-confirm-ok-button">예</button>
          <button type="button" class="btn btn-danger notifier-confirm-cancel-button">아니요</button>
        </div>
      </div>
    </div>
  </div>
</section>
