.quest-timeline-interaction-wrapper{
  margin-top:10px;
  margin-bottom:10px;
  padding-top:10px;
  height:30px;
}
.quest-timeline-interaction-wrapper div{
  margin-right:20px;
  font-size:1em;
}

.quest-timeline-comment-wrapper{
  margin-top:10px;
  margin-bottom:10px;
  padding:0 0 0 0;
}
.quest-timeline-comment{

}
.quest-comment-input{
  display:inline;
  width:100%;
  max-width:300px;
}
.quest-timeline-comment-input-wrapper{

}
.quest-timeline-comment-content{
  padding-left:10px;
}
.quest-timeline-comment-profile-photo{
  width:30px;
  height:30px;
  border:1px solid #eeeeee;
  margin-right:5px;
  background-size: cover
}

.custom-button-area {
  margin-top: 2px;
  margin-bottom: 2px;
}

.custom-icon {
  padding-right: 1px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  color : darkgray;
}

.custom-icon:hover {
  color : blue;
}
