<div class="quest-timeline">
  <section class="panel panel-default" data-ng-show="questTimelines === undefined || questTimelines.length === 0">
    퀘스트 내역이 없습니다!
  </section>
  <section data-ng-show="questTimelines.length > 0">
    <article class="panel panel-default" data-ng-repeat="questTimeline in questTimelines">
      <section class="panel-body">
        <div class="col-sm-2">
          <div class="quest-progress-user-profile-photo" style="background-image:url('{{questTimeline.user.profileImage}}')">
          </div>
        </div>
        <div data-ng-show="questTimeline.edit !== 'edit'" class="col-sm-10">
          <strong>
            <a href="" data-ui-sref="profile({userId: questTimeline.user._id})">{{questTimeline.user.name}}</a>
          </strong>님이
          <span class="quest-progress-name">" {{questTimeline.questPool.title}} "</span><strong>{{getConnectingWord(questTimeline.questPool.title)}}</strong>
          <strong data-ng-show="questTimeline.status === 'START'"> 시작 </strong>
          <strong data-ng-show="questTimeline.status === 'END'"> 완료 </strong>하셨습니다.
        </div>
        <div class="col-sm-12">
          <div data-ng-show="questTimeline.edit !== 'edit'" class="btn-group pull-right custom-button-area">
            <button class="btn btn-xs btn-info custom-icon" data-ng-click="getPrintEditData(questTimeline)"><i class="large mdi-content-create"></i></button>
            <button class="btn btn-xs btn-danger custom-icon" data-ng-click="deleteQeustTimeline(questTimeline)"><i class="large mdi-content-remove"></i></button>
          </div>
          <p data-ng-show="questTimeline.edit !== 'edit'">
            {{questTimeline.content}}
          </p>
        </div>
        <div data-ng-show="questTimeline.edit !== 'edit'" class="col-sm-12 quest-tags">
          <ul class="list-inline">
            <li data-ng-repeat="tag in questTimeline.questPool.tags">
              <a href="#">#{{tag}}</a>
            </li>
          </ul>
        </div>
        <div data-ng-show="questTimeline.edit === 'edit'" class="row" data-ng-model="quest">
          <div class="col-sm-12 form-group">
            <input type="text" class="form-control" data-ng-model="questTimeline.questPool.title"/>
          </div>
          <div class="col-sm-12 form-group">
            <textarea class="form-control" data-ng-model="questTimeline.content"></textarea>
          </div>
          <div class="col-sm-12 form-group">
            <label class="col-sm-1">
                  <span class="quest-tag-icon">
                    <i class="mdi-maps-local-offer"></i>
                  </span>
            </label>
            <div class="col-sm-11 quest-tag-wrapper">
              <input type="text" class="form-control" data-ng-model="questTimeline.editTags"/>
            </div>
          </div>
          <div data-ng-show="questTimeline.edit === 'edit'" class="btn-group pull-right custom-button-area">
            <button class="btn btn-xs btn-info custom-icon" data-ng-click="modifyTimeline(questTimeline)"><i class="large mdi-action-done"></i></button>
            <button class="btn btn-xs btn-danger custom-icon" data-ng-click="questTimeline.edit='cancel'"><i class="large mdi-content-clear"></i></button>
          </div>
        </div>
        <div class="col-sm-12" data-ng-show="questTimeline.comments.length > 0">
          {{questTimeline.comments.length}}개의 댓글
        </div>
        <div class="col-sm-12 quest-timeline-interaction-wrapper">
          <div class="pull-left"><button class="btn btn-fab btn-raised btn-material-indigo"><i class="mdi-action-thumb-up"></i></button></div>
          <div data-ng-show="questTimeline.status !== 'END'" class="pull-right"><button class="btn btn-fab btn-raised btn-material-orange" data-ng-click="changeStatus(questTimeline)"><i class="mdi-content-flag"></i></button></div>
        </div>
        <div class="col-sm-12 quest-timeline-comment-wrapper no-padding">
          <hr/>
          <ul class="list-unstyled">
            <li data-ng-repeat="comment in questTimeline.comments">
              <article class="quest-timeline-comment default-padding">
                <div class="pull-left quest-timeline-comment-profile-photo" data-ng-style="{'background-image':'url(' + comment.user.profileImage + ')'}"></div>
                <div class="pull-left"><a href="#">{{comment.user.name}}</a></div>
                <div data-ng-show="comment.status !== 'edit'" class="pull-left quest-timeline-comment-content">{{comment.content}}</div>
                <input data-ng-show="comment.status === 'edit'" type="text" class="form-control quest-comment-input" data-ng-model="comment.content">
                <div class="btn-group pull-right custom-button-area">
                  <button data-ng-show="comment.status !== 'edit'" class="btn btn-xs btn-info custom-icon" data-ng-click="comment.status = 'edit'" ><i class="large mdi-content-create"></i></button>
                  <button data-ng-show="comment.status !== 'edit'" class="btn btn-xs btn-danger custom-icon" data-ng-click="deleteComment(comment,$event)" ><i class="large mdi-action-highlight-remove"></i></button>
                  <button data-ng-show="comment.status === 'edit'" class="btn btn-xs btn-info custom-icon" data-ng-click="updateComment(comment)" ><i class="large mdi-action-done"></i></button>
                  <button data-ng-show="comment.status === 'edit'" class="btn btn-xs btn-danger custom-icon" data-ng-click="comment.status = 'cancel'" ><i class="large mdi-content-clear"></i></button>
                </div>
                <div class="pull-right">{{comment.createdAt | date:'yyyy-MM-dd HH:mm'}}</div>
                <div class="clearfix"></div>
              </article>
            </li>
          </ul>
          <div class="col-sm-12 quest-timeline-comment-input-wrapper default-padding">
            <div class="pull-left quest-timeline-comment-profile-photo" data-ng-style="{'background-image':'url(' + currentUser.profileImage + ')'}"></div>
            <input type="text" class="form-control quest-comment-input" data-ng-model="questTimeline.addTargetComment.content" >
            <button class="btn btn-info pull-right" data-ng-click="addComment(questTimeline)">댓글달기</button>
          </div>
        </div>
      </section>
    </article>
  </section>
</div>
