
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.quest-wrapper{
  height:100%;
}

.quest-user-profile-photo{
  width:70px;
  height:70px;
  border: 1px solid #eeeeee;
  background-size: cover;
}
.quest-timeline{
  overflow-y:auto;
  height:100%;
}

.quest-timeline-content{
  padding-top:15px;
  padding-bottom:15px;
}

.quest-tag-wrapper{
  /* bootstrap override */
  padding-right:0;
}
.quest-progress-user-profile-photo{
  width:50px;
  height:50px;
  border: 1px solid #eeeeee;
}


.quest-timeline-interaction-wrapper{
  padding-top:10px;
  border-top:1px solid #eeeeee;
  height:30px;
}
.quest-timeline-interaction-wrapper div{
  margin-right:20px;
  font-size:1em;
}

.quest-timeline-comment-wrapper{
  padding:0 0 0 0;
}
.quest-timeline-comment{

}
.quest-comment-input{
  display:inline;
  width:100%;
  max-width:375px;
}
.quest-timeline-comment-input-wrapper{

}
.quest-timeline-comment-content{
  padding-left:10px;
}
.quest-timeline-comment-profile-photo{
  width:30px;
  height:30px;
  border:1px solid #eeeeee;
  margin-right:5px;
}
.main-container{
  height:90%;
}
