
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.quest-wrapper{
  height:100%;
}

.quest-user-profile-photo{
  width:70px;
  height:70px;
  border: 1px solid #eeeeee;
  background-size: cover;
}

.quest-timeline-content{
  padding-top:15px;
  padding-bottom:15px;
}

.quest-tag-wrapper{
  /* bootstrap override */
  padding-right:0;
}
.quest-progress-user-profile-photo{
  width:50px;
  height:50px;
  border: 1px solid #eeeeee;
}

.main-container{
  margin-top:10px;
  height:90%;
}

.quest-tag-icon{
  font-size:2em;
}
