  <div ng-include="'components/navbar/navbar.html'"></div>

<section class="main-container container">
  <div class="col-sm-12">
    <div class="col-sm-3">
      <aside class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">Profile</div>
          <div class="panel-body">
            <div class="quest-user-profile-photo pull-left" data-ng-style="{'background-image':'url(' + currentUser.profileImage + ')'}"></div>
            <div class="pull-right">
              {{currentUser.name}}
            </div>
          </div>
        </div>
      </aside>
      <aside class="col-sm-12">
        <div class="panel panel-default">
          <header class="panel-heading">퀘스트 수행 랭킹</header>
          <div class="panel-body">
            <ul class="list-unstyled">
              TODO...
            </ul>
          </div>
        </div>
      </aside>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" data-ng-model="quest">
              <div class="col-sm-12 form-group">
                <input type="text" class="form-control" data-ng-model="quest.title" placeholder="퀘스트 이름이 어떻게 되나요?"/>
              </div>
              <div class="col-sm-12 form-group">
                <textarea class="form-control" placeholder="어떤 퀘스트인가요?" data-ng-model="quest.content"></textarea>
              </div>
              <div class="col-sm-12 form-group">
                <label class="col-sm-1">
                  <span class="quest-tag-icon">
                    <i class="mdi-maps-local-offer"></i>
                  </span>
                </label>
                <div class="col-sm-11 quest-tag-wrapper">
                  <input type="text" class="form-control" data-ng-model="quest.tags"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-right">
                <button class="btn btn-fab btn-raised btn-material-lightblue" data-ng-click="addQuest(quest)"><i class="mdi-editor-border-color"></i></button>
              </div>
            </div>
        </div>
      </div>
      <quest-timeline data-quest-timelines="questTimelines"></quest-timeline>
    </div>

    <div class="col-sm-3">
      <div class="col-sm-12">
        <aside class="panel panel-default">
          <header class="panel-heading">수행가능한 퀘스트</header>
          <section class="panel-body">
            <ul class="list-unstyled">
              <li>베이스 다운피킹 10분 연습하기</li>
              <li>베이스 핑거링 10분 연습하기</li>
            </ul>
          </section>
        </aside>
      </div>
      <div class="col-sm-12">
        <aside class="panel panel-default">
          <header class="panel-heading">진행 중인 퀘스트</header>
          <section class="panel-body">
            <div class="well" data-ng-show="nowProgressQuests.length === 0">
              현재 진행 중인 퀘스트가 없습니다.
            </div>
            <ul class="list-unstyled">
              <li data-ng-repeat="nowProgressQuest in nowProgressQuests"></li>
            </ul>
          </section>
        </aside>
      </div>
    </div>
  </div>
</section>
